.Carrusel img{
    height: auto;
    width: auto;
    margin: auto;
    max-width: 100%;
    
}

.Carrusel{
    margin-left: 640px;
    margin-right: 640px;
    margin-top: 40px;
    
}


.h4{
    text-align: center;
    padding: 40px;
    
}

@media screen and (max-width:800px){
    .Carrusel {
        width: 380px;
        height: 315px;

    }
    .Carrusel h4{
        font-size: 18px;
    }
    
}

