

.servicios {
	
	align-items: flex-start;
    margin-bottom: 0.5rem;
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
	
}

.img-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
	padding-bottom: -20px;
	border-radius: 2rem;
	
	
}

.img-container {
    display: flex;
    justify-content: center;
    width: 50rem;
    margin: 0 auto;
	flex-wrap: wrap;
	
}

.img-container button{
	color: rgb(243, 235, 74); 
}


h1{
	color: rgb(0, 0, 0);
	font-size: 2em;
	font-family: 'nunito' , Sans-Serif;
	position: relative;
	width: max-content;
    
}
h1::after , h1:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
h1::before{
	background: rgb(219, 219, 219);
	animation: typewriter 5s steps(22) infinite;
	
}


h1::after{
	width: 0.125em;
	background: #fff;
	animation:
	blink 700ms linear infinite,
	typewriter 5s steps(22)  infinite;
	
	
}

@keyframes typewriter{
  
  0%{
  	left: 0;
  }
  
  40%{
  	left: 100%;
  }
  
  60%{
  	left: 100%;
  }
  
  74%{
  	left: 0;
  }
  
  100%{
  	left: 0%;
  }
  
}

@keyframes blink{
	to{
		background: rgb(0, 0, 0);
	}
	
}


@media screen and (max-width:800px){
	.img-container button{
		width:100px;
		height: 60px;
		font-size: 1rem;
		align-items: initial;
		flex-grow:1;
		flex-wrap: wrap;
		
		
		
		
	}
	.img-list-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		
	}
	

}

@media screen and (max-width:800px){
	.img-container{
		
	}
}

.ilu2{
	width: 600px;
	margin-top: -2rem;
}

h4{
	font-family: 'Bebas Neue', cursive;
	
}

@media screen and (max-width:800px){
	.servicios h2{
		margin-top: 30px;
	}
}

@media screen and (max-width:800px){
	.img-list-container{
		margin-top: 150px;
	}
}

@media screen and (max-width:800px){
	.ilu2{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 30px;
		width: 280px;
	}
}

.ilu2{
	width: 350px;
	margin-top: 30px;
	margin-bottom: 30px;
}